@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", "sans-serif";
    list-style-type: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container > h1 {
    font-size: 3rem;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.form > input {
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 60%;
}

.form > button {
    font-size: 1.2rem;
    padding: 1rem;
}